<!-- Modal -->
<div class="modal fade" id="editTasksWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-add-task" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление задания</h4>
            </div>
            <div class="modal-body">
                <div ng-class="{ 'field-invalid': editTasksCtrl.isDublicateValue() }">
                    <div class="input-group">
                        <!--<input type="text" class="form-control">-->
                        <div task-autocomplete
                             name="task"
                             ng-model="editTasksCtrl.selectedTask"
                             optional="true"
                             required="false">

                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-disabled="!editTasksCtrl.canAddTask()" ng-click="editTasksCtrl.onAddTask()">Добавить</button>
                        </span>

                    </div>
                    <span class="text-error" ng-show="editTasksCtrl.isDublicateValue()">
                        Это повторяющееся значение
                    </span>
                </div>

                <div ng-if="editTasksCtrl.columns" id="datatable-fixed-header_wrapper" class="dataTables_wrapper task-list form-inline dt-bootstrap no-footer no-select">
                    <table id="datatable-fixed-header" class="table table-striped dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                        <thead>
                            <tr role="row">
                                <th ng-repeat="column in editTasksCtrl.columns"
                                    tabindex="0" aria-controls="datatable-fixed-header" rowspan="1" colspan="1" aria-sort="ascending"
                                    ng-click="taskListCtrl.panel.onSortColumn(column,$event)"
                                    ng-style="{'width':column.width}">
                                    {{column.title}}
                                </th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-if="editTasksCtrl.taskSetTemp.Steps[editTasksCtrl.indexStep].Entries.length==0">
                                <td>Нет данных</td>    
                            </tr>
                            <tr role="row"
                                ng-repeat="row in editTasksCtrl.taskSetTemp.Steps[editTasksCtrl.indexStep].Entries track by $index">
                                <td ng-repeat="col in editTasksCtrl.columns " ng-switch="col.columnName">
                                    <span ng-class="row[col.columnName] | TaskTypeIconClass"
                                          ng-switch-when="TaskType"></span>
                                    <span ng-class="row[col.columnName] | AnswerTypeIconClass"
                                          ng-switch-when="AnswerType">
                                    </span>
                                    <span ng-switch-default="">{{row[col.columnName]}}</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default delete-row-table-button" ng-click="editTasksCtrl.onRemoveTask($index)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" ng-click="editTasksCtrl.onSave()">Сохранить</button>
            </div>
        </div>
    </div>
</div>

