<div class="set-page">
    <div class="page-title">
        <div class="title_left">
            <h1> Просмотр сета</h1>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">

                    <div class="info-container">
                        <div class="main-description">
                            </br>
                            <h2>{{setCtrl.SetService.taskSet.TaskSetType | TaskSetTypes}}:  {{setCtrl.SetService.taskSet.Title}}</h2>
                            <p class="sub-title-text">
                                <span class="difficulty">
                                    <span ng-class="setCtrl.SetService.taskSet.Difficulty | TaskSetIconDifficulties"></span>
                                    &nbsp; {{setCtrl.SetService.taskSet.Difficulty | Difficulties}}
                                </span>
                                <span class="subject"> &nbsp;{{setCtrl.SetService.taskSet.Subject | Subjects}}, {{setCtrl.SetService.taskSet.Class | Classes}} класс</span>
                            </p>
                        </div>

                        <div class="image">
                            </br>
                            <img src="{{setCtrl.SetService.taskSet.IconUrl}}"
                                 onerror="this.src='/theme/default/images/img.png'"
                                 alt="{{setCtrl.SetService.taskSet.Title}}" />
                        </div>

                        <div class="description">
                            </br>
                            <div ng-bind-html="setCtrl.SetService.taskSet.Body"></div>
                        </div>

                        <div class="buttons">
                            </br>
                            <button ng-click="setCtrl.SetService.onMoveWizard()"
                                    class="btn"
                                    ng-class="{'btn btn-success control-btn':setCtrl.SetService.studentWork.Status == 0,
                                    'btn btn-yellow':setCtrl.SetService.studentWork.Status == 2}"
                                    ng-if="setCtrl.SetService.studentWork && setCtrl.SetService.studentWork.Status != 3">
                                {{setCtrl.SetService.studentWork.Status !=setCtrl.progressWorkStatus ? 'Начать заниматься' :'Продолжить заниматься'}}
                            </button>

                            <button ng-click="setCtrl.SetService.onMoveResultPage()"
                                    class="btn btn-default"
                                    ng-if="setCtrl.SetService.studentWork && setCtrl.SetService.studentWork.Status == 3">
                                Результаты
                            </button>

                            <button class="btn btn-primary" ng-if="setCtrl.SetService.isAdmin" ng-click="setCtrl.SetService.onOpenEditWorksWindow()">
                                Назначить подборку ученику
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<window-preview is-preview="setCtrl.isPreview" task="setCtrl.task"></window-preview>
<load-image-to-editor></load-image-to-editor>
<window></window>
<edit-works></edit-works>
<pending is-loading="setCtrl.SetService.isLoading"></pending>
